:root {
    --green: #005922;
    --background-sky: linear-gradient(-45deg, #fdbb2d, #eeca7d, #f1f5f7,#81bfe6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px 10px;
}

body {
    background: var(--background-sky);
    background-size: 400% 400%;
    animation: gradient 50s ease infinite;
    min-height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    width: 75vw;
    height: 85vh;
    margin: 5rem auto;
    border-radius: 15px;
}

h1 {
    border-bottom: 2px solid black;
}

.row.weather-for-city, 
.row.choose-city-sky, 
.row.weather-garden {
    background-color: rgba(248, 248, 255, 0.305);
}

h2,
.row.weather-for-city section,
.row.choose-city-sky section {
    display: inline-block;
}

.row.weather-for-city {
    flex-grow: 1;
}

.row.choose-city-sky {
    flex-grow: 0.25;
}

.row.weather-garden {
    flex-grow: 2;
}

.row.weather-for-city, 
.row.choose-city-sky {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1, 
#city > h2, 
h4, 
.fa-solid, 
.weather-for-city p, 
.choose-sky select,
.choose-city > #textbox, 
#realtime-temp,
#reset-city {
    font-family: 'Kanit', sans-serif;
}

.fa-solid:hover,
#reset-city,
.choose-sky select {
    cursor: pointer;
}

#city > h2 {
    text-align: right;
} 

h2 {
    font-size: 4em;
}

#city > h2, 
h4 {
    font-size: 2em;
}

#temperature {
    text-align: center;
}

#temperature div {
    height: 90px;
}

#temperature div h2 {
    position: relative;
    top: 12px;
    right: 5px;
}

#realtime-temp {
    width: 235px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: 5px;
    right: 10px;
    color: white;
    border: none;
    background-color: var(--green);
}

#realtime-temp:hover {
    cursor:pointer;
}

.choose-city > #textbox {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid var(--green);
    background-color: transparent;
}

#reset-city {
    border: none;
    border-bottom: 1px solid black;
    color: black;
    background-color: transparent;
}

.choose-sky {
    width: 360px;
}

.choose-sky select {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--green);
    color: white;
    background-color: var(--green);
}

select > option:hover {
    background-color: var(--green);
}


.row.weather-garden #landscape, 
.row.weather-garden #sky {
    width: 100%;
    text-align: center;
    letter-spacing: 20px;
    font-size: 3rem;
}

.row.weather-garden #sky {
    height: 50%;
}